<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <title>
        Login Page
    </title>
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
</head>

<body>
<div class="container">
    <div class="box">
            <h1 class="is-uppercase has-text-centered has-text-weight-bold ">Asukaki
                <br><span class="tag">登录</span>
            </h1>
            <hr class="dropdown-divider">
            <form action="" method="post">
            <!--<label for="id_username">username:</label>
            <input type="text" name="username" id="id_username">
            <label for="id_password">password:</label>
            <input type="password" name="password" id="id_password"> -->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="log in">
        </form>
    </div>
</div>


</body>
</html>